body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  margin: 20px;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gift-item {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.gift-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gift-item:hover {
  transform: scale(1.1);
}
